[build]
  command = "npm run build"
  publish = "public"
  functions = "functions"

[build.environment]
  NODE_VERSION = "20.19.3"
  NPM_VERSION = "10.8.2"
  HUGO_VERSION = "0.147.9"
  HUGO_ENABLEGITINFO = "true"

[context.production]
  command = "npm run build"

[context.deploy-preview]
  command = "npm run build -- -b $DEPLOY_PRIME_URL || true"

[context.branch-deploy]
  command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.next]
  command = "npm run build"
  [context.next.environment]
    HUGO_ENV = "next"

[dev]
  framework = "#custom"
  command = "npm run start"
  targetPort = 1313
  port = 8888
  publish = "public"
  autoLaunch = false

[functions]
  directory = "functions"   # или "netlify/functions"
