.hero-section {
  padding: 250px 0 290px;
}

.hero-slider {

  .prevArrow,
  .nextArrow {
    position: absolute;
    bottom: -123px;
    z-index: 9;
    padding: 15px;
    color: rgba($color: $white, $alpha: .5);
    border: 0;
    font-size: 30px;
    transition: all linear .2s;
    background: transparent;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $cyan-color;
    }
  }

  .prevArrow {
    right: 60px;
  }

  .nextArrow {
    right: 0;
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -100px;
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 6px;

      &.slick-active {
        button {
          background: $cyan-color;
        }
      }

      button {
        color: transparent;
        padding: 0;
        overflow: hidden;
        height: 10px;
        width: 10px;
        background: rgba($color: $white, $alpha: .5);
        border: 0;
        outline: 0;
      }
    }
  }
}


.slider-single {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* или 4 / 3, 3 / 2 — подберите под ваши изображения */
  overflow: hidden;
  .slick-slide {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .prevArrow,
  .nextArrow {
    position: absolute;
    top: 50%;
    z-index: 9;
    padding: 10px;
    color: rgba($color: $primary-color, $alpha: .9);
    border: 0;
    font-size: 30px;
    transition: all linear .2s;
    background: rgba($color: $white, $alpha: .7);
    transform: translate(0, -50%);
    &:focus {
      outline: 0;
    }
    &:hover {
      color: $cyan-color;
    }
  }
  .prevArrow {
    left: 0;
  }
  .nextArrow {
    right: 0;
  }
}

.slider-nav {
  margin: 1rem 0;

  .slick-track {
    display: flex;
  }
  .slick-slide {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .slide-thumb {
    width: 150px;
    min-width: 150px;
    height: 80px;
    flex-shrink: 0; /* чтобы не сжимались */
    overflow: hidden;
    border-radius: 4px;
    background: transparent;
    &.is-active {
      border: 2px solid $cyan-color;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      cursor: pointer;
    }
  }

  .prevArrow,
  .nextArrow {
    position: absolute;
    top: 50%;
    z-index: 9;
    padding: 10px;
    color: rgba($color: $primary-color, $alpha: .9);
    border: 0;
    font-size: 10px;
    transition: all linear .2s;
    background: rgba($color: $white, $alpha: .7);
    transform: translate(0, -50%);
    &:focus {
      outline: 0;
    }
    &:hover {
      color: $cyan-color;
    }
  }
  .prevArrow {
    left: 0;
  }
  .nextArrow {
    right: 0;
  }
}
