{{ $form := index site.Data "form" }}

{{ $ := .context }}
{{ $formId := .formId }}

{{ if $form }}
<div class="sendFormWrap">
  <div id="formError" class="form-error alert alert-danger" style="display:none;">
    {{ $form.submit.error_text }}
  </div>
  <div id="formSuccess" class="form-success alert alert-success" style="display:none;">
    {{ $form.submit.success_text }}
  </div>
  <form id="{{ $formId }}" class="sendForm needs-validation" data-action="{{ $form.submit.action }}" novalidate>
    {{ range $field := $form.fields }}
      {{ if eq $field.type "select" }}
        {{ with $field.label }}
          <label for="{{ $formId }}_{{ $field.id }}" class="form-text">{{ . }}{{ if $field.required }} *{{ end }}</label>
        {{ end }}
        <select class="form-control form-select mb-3" name="{{ $field.name }}" id="{{ $formId }}_{{ $field.id }}" {{ if $field.required }}required{{ end }}>
          {{ range $opt := $field.options }}
            <option value="{{ $opt.value }}"{{ if $opt.selected }} selected disabled{{ end }}>{{ $opt.text }}</option>
          {{ end }}
        </select>
      {{ else }}
        <input
          type="{{ $field.type }}"
          class="form-control mb-3"
          id="{{ $formId }}_{{ $field.id }}"
          name="{{ $field.name }}"
          placeholder="{{ $field.placeholder }}{{ if $field.required }} *{{ end }}"
          aria-describedby="inputGroupPrepend"
          {{ if $field.required }}required{{ end }}
        >
      {{ end }}
    {{ end }}

    {{ range $cb := $form.checkboxes }}
      <div class="form-check mb-3">
        <input
          id="{{ $formId }}_{{ $cb.id }}"
          class="form-check-input"
          type="checkbox"
          name="{{ $cb.name }}"
          value="{{ $cb.value }}"
          {{ if $cb.required }}required{{ end }}
        >
        <label class="form-check-label" for="{{ $formId }}_{{ $cb.id }}">
          {{ $cb.label }}
        </label>
      </div>
    {{ end }}

    <button type="submit" value="send" class="btn btn-primary">
      {{ $form.submit.btn_text }}
    </button>
  </form>
</div>
{{ end }}
