{{ define "main" }}
<section class="section">
  <div class="container">
    <h1>{{ with .Params.h1 }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>
    <div class="row">
      {{ range .Data.Terms.ByCount }}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5>
                <a href="{{ .Page.Permalink }}">
                  {{ .Page.Title }} ({{ .Count }})
                </a>
              </h5>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
