<div class="card border-0 rounded-0 hover-shadow">
  {{ if .Params.image }}
    {{ $image := .Resources.GetMatch .Params.image }}
    <div class="card-img position-relative">
    {{ if $image }}
        <img src="{{ $image.Permalink }}" alt="{{ with .Params.h1 }}{{ . }}{{ else }}{{ .Title }}{{ end }}" class="img-fluid w-100">
    {{ else }}
        {{ partial "image.html" (dict "Src" .Params.image "Alt" .Title "Class" "img-fluid w-100 rounded-0") }}
    {{ end }}
    </div>
  {{ end}}
  <div class="card-body">
    <h4 class="card-title"><a href="{{ .Permalink }}">
      {{ with .Params.h1 }}{{ . | truncate 50 }}{{ else }}{{ .Title | truncate 50 }}{{ end }}
    </a></h4>
    {{/*<div class="card-text mb-4">{{ .Summary | truncate 100 }}</div>*/}}
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">Читать далее</a>
  </div>
</div>
