{{ "<!-- sidebar -->" | safeHTML }}
<aside class="col-lg-4 order-2 order-lg-2">
  {{ partial "toc_blog.html" . }}
  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-white mb-5">
    {{- if isset site.Taxonomies "categories" }}
    {{- if not (eq (len site.Taxonomies.categories) 0) }}
    <h4 class="mb-4">Категории</h4>
    <ul class="list-unstyled">
      {{- range $name, $items := site.Taxonomies.categories }}
      <li class="border-bottom"><a href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}/" class="d-block pb-3 mt-3">{{ $name | title | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- tags -->" | safeHTML }}
  <div class="bg-white mb-5">
    {{- if isset site.Taxonomies "tags" }}
    {{- if not (eq (len site.Taxonomies.tags) 0) }}
    <h4 class="mb-4">Тэги</h4>
    <ul class="list-inline tag-list">
      {{- range $name, $items := site.Taxonomies.tags }}
      <li class="list-inline-item mb-2"><a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}/">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- latest post -->" | safeHTML }}
  <div class="old_articles bg-white">
    <h4 class="mb-4">Другие статьи</h4>
    {{ range first 3 ( where site.RegularPages "Type" "blog" )}}
    {{ "<!-- post-item -->" | safeHTML }}
    <div class="media border-bottom border-color pb-3 mb-3">
      <a href="{{ .Permalink }}">
        {{ if .Params.image }}
          {{ $image := .Resources.GetMatch .Params.image }}
          {{ if $image }}
            <img src="{{ $image.Permalink }}" alt="{{ with .Params.h1 }}{{ . }}{{ else }}{{ .Title }}{{ end }}" class="mr-3 post-thumb-sm">
          {{ else }}
            {{ partial "image.html" (dict "Src" .Params.image "Alt" "thumb" "Class" "mr-3 post-thumb-sm") }}
          {{ end }}
        {{ else }}
          <img src="/images/backgrounds/post-placeholder.jpg" alt="{{ with .Params.h1 }}{{ . }}{{ else }}{{ .Title }}{{ end }}" class="mr-3 post-thumb-sm">
        {{ end}}
      </a>
      <div class="media-body">
        <a href="{{ .Permalink }}">
          <h5 class="mt-0">{{ with .Params.h1 }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h5>
        </a>
        {{ .PublishDate.Format "02.01.2006" }}
      </div>
    </div>
    {{ end }}
  </div>
</aside>
{{ "<!-- /sidebar -->" | safeHTML }}
