<!-- footer -->
<footer>
  {{ if site.Params.contact.enable }}
  {{ with site.Params.contact }}
  <div class="contact-form bg-gray py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h3 class="section-title mb-4">Свяжитесь с нами</h3>
          {{/* <iframe
            id="formIframe"
            src="{{ .contact_form_action }}"
            frameborder="0" marginheight="0" marginwidth="0">
            Loading…
          </iframe> */}}
          {{ partial "main/form.html" (dict "context" . "formId" "contact") }}
        </div>
        {{ $formBg := resources.Get "images/backgrounds/contact-form.png" }}
        {{ if $formBg }}
        <div class="col-md-4 mx-auto d-flex align-items-center">
          {{ partial "image.html" (dict "Src" $formBg "Alt" "contact-form" "Class" "img-fluid w-100" ) }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{ if site.Params.contact.enable }}
  {{ with site.Params.contact }}
  <div id="formPopup" class="popup">
    <div class="popup-content">
      <h3 class="section-title my-3">Свяжитесь с нами</h3>
      <button class="close">&times;</button>
      {{/*<iframe src="{{ .contact_form_action }}" frameborder="0" marginheight="0" marginwidth="0">
        Loading…
      </iframe>*/}}
      <div class="popup-content-form">{{ partial "main/form.html" (dict "context" . "formId" "popup") }}</div>
    </div>
  </div>
  {{ end }}
  {{ end }}

  <!-- newsletter -->
  {{ if site.Params.subscription.enable }}
  {{ with site.Params.subscription }}
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white mb-4">Подписка на рассылку</h3>
          <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="{{ i18n "enter_email" }}">
              <button type="submit" name="subscribe" class="btn btn-primary">Присоединиться</button>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-lg-0">
          <h4 class="text-white mb-4 text-uppercase">Контакты</h4>
          <ul class="list-unstyled">
            {{/*<li class="mb-4">{{ site.Params.address | markdownify }}</li>
            <li class="mb-4">{{ site.Params.email | markdownify }}</li>*/}}
            <li class="mb-4">
              <a target="_blank" href="tel:{{ site.Params.mobile }}">{{ site.Params.mobile_text | markdownify }}</a>
            </li>
            {{ range site.Params.social }}
            <li class="mb-4">
              <a target="_blank" href="{{ .link | safeURL }}">
                {{ .name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <!-- company -->
        {{/*<div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-4 text-uppercase">компания</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.main }}
            {{ if not .HasChildren }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>*/}}
        <!-- footer_menu -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-4 text-uppercase">Меню</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.footer }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <!-- programs -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-4 text-uppercase">Программы</h4>
          <ul class="list-unstyled">
            {{ range first 6 (where site.RegularPages "Type" "programs")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">
              {{ with .Params.h1 }}{{ . | truncate 50 }}{{ else }}{{ .Title | truncate 50 }}{{ end }}
            </a></li>
            {{ end }}
          </ul>
        </div>
        <!-- ifp -->
        <div class="col-lg-3 col-sm-6 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-4 text-uppercase">IFP центры</h4>
          <ul class="list-unstyled">
            {{ range first 6 (where site.RegularPages "Type" "universities")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">
              {{ with .Params.h1 }}{{ . | truncate 50 }}{{ else }}{{ .Title | truncate 50 }}{{ end }}
            </a></li>
            {{ end }}
          </ul>
        </div>
        <!-- footer_end -->
        <div class="col-lg-3 col-sm-6 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-4 text-uppercase">Полезная информация</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.footer_end }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{/*<!-- support -->
        <div class="col-lg-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-4 text-uppercase">Полезная информация</h4>
          <ul class="list-unstyled">
            {{ range first 3 (where site.RegularPages "Type" "notice")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">
              {{ with .Params.name }}{{ . | truncate 50 }}{{ else }}{{ .Title | truncate 50 }}{{ end }}
            </a></li>
            {{ end }}
          </ul>
        </div>*/}}
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-md-left text-center">
          <p class="mb-3 mb-md-0">
            <!-- logo -->
            <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}">
              {{ partial "image.html" (dict "Src" site.Params.logo "Alt" site.Title "Class" "img-fluid") }}
            </a>
            <span>Copyright &copy; 1812 - {{ now.Format "2006" }} {{ site.Params.copyright | markdownify }}</span>
          </p>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-end justify-content-sm-center text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
              {{ if .link }}
              <li class="list-inline-item">
                <a class="d-inline-block icon" href="{{ .link | safeURL }}">
                  {{ .icon | safeHTML }}
                </a>
              </li>
              {{ end }}

            {{/*<li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>*/}}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ if site.Params.map.enable }}
{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js"}}
{{ if eq (hugo.Environment) "development" -}}
<script src="{{ $script.Permalink }}"></script>
{{ else -}}
{{ $script := $script | minify }}
<script src="{{ $script.Permalink }}"></script>
{{ end -}}

{{ with site.Params.google_analitycs_id}}
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}


{{ if site.Params.cookies.enable }}
<!-- cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
