<!-- footer -->
<footer>
  {{ if site.Params.contact.enable }}
  {{ with site.Params.contact }}
  <div class="contact-form bg-gray py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <h3 class="section-title mb-4">{{ i18n "contact_head" }}</h3>
          <iframe
            src="{{ .contact_form_action }}"
            frameborder="0" marginheight="0" marginwidth="0">
            Loading…
          </iframe>

          <!-- <div id="formError" class="alert alert-danger" style="display:none;">
            Пожалуйста, заполните все обязательные поля корректно.
          </div>
          <div id="formSuccess" class="alert alert-success" style="display:none;">
            Форма заполнена.
          </div>
          <form id="googleForm" class="needs-validation" novalidate action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSegOQYc9OxSavdL6W67osDEBa290kaGixAVY2j4bbG02W-EsA/formResponse" method="POST" target="_blank">
            <input type="text" class="form-control mb-3" id="name" name="entry.2057118843" placeholder="Имя">
            <input type="email" class="form-control mb-3" id="mail" name="entry.1012912389" placeholder="Email">
            <input type="phone" class="form-control mb-3" id="phone" name="entry.1955175642" placeholder="Телефон">

            <label for="message" class="form-text">Предпочитаемый канал связи</label>
            <select class="form-control mb-3" name="entry.1338541241" id="message">
              <option selected>Выберите вариант</option>
              <option value="Telegram">Telegram</option>
              <option value="Whatsapp">Whatsapp</option>
              <option value="MAX">MAX</option>
            </select>

            <label for="learn" class="form-text">Где вы сейчас учитесь</label>
            <select class="form-control mb-3" name="entry.70876084" id="learn">
              <option selected>Выберите вариант</option>
              <option value="7 класс">7 класс</option>
              <option value="8 класс">8 класс</option>
              <option value="Колледж">Колледж</option>
            </select>

            <label for="cauntry" class="form-text">Приоритетная страна</label>
            <select class="form-control mb-3" name="entry.1914344840" id="cauntry">
              <option selected>Выберите вариант</option>
              <option value="только Китай">только Китай</option>
              <option value="только Россия, но рассматриваю Китай">только Россия, но рассматриваю Китай</option>
              <option value="другие страны">другие страны</option>
            </select>

            <div class="form-check mb-3">
              <input id="defaultCheck1" class="form-check-input" type="checkbox" name="entry.1389169031" value="Готовы ли вы платить за обучение в более сильном вузе?">
              <label class="form-check-label" for="defaultCheck1">
                Готовы ли вы платить за обучение в более сильном вузе?
              </label>
            </div>
            <div class="form-check mb-3">
              <input id="defaultCheck2" class="form-check-input" type="checkbox" name="entry.1580115150" value="Нажимая эту кнопку вы принимаете Положение и согласие на обработку персональных данных">
              <label class="form-check-label" for="defaultCheck2">
                Нажимая эту кнопку вы принимаете Положение и согласие на обработку персональных данных
              </label>
            </div>
            <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
          </form> -->
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{ if site.Params.contact.enable }}
  {{ with site.Params.contact }}
  <div id="formPopup" class="popup">
    <div class="popup-content">
      <h3 class="section-title m-3">{{ i18n "contact_head" }}</h3>
      <button class="close">&times;</button>
      <iframe
        src="{{ .contact_form_action }}"
        frameborder="0"
        marginheight="0"
        marginwidth="0">
        Loading…
      </iframe>

      <!-- <form id="googleForm" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSegOQYc9OxSavdL6W67osDEBa290kaGixAVY2j4bbG02W-EsA/formResponse" method="POST" target="_blank">
        <input type="text" class="form-control mb-3" id="name" name="entry.2057118843" placeholder="Your Name">
        <input type="email" class="form-control mb-3" id="mail" name="entry.1012912389" placeholder="Your Email">
        <input type="phone" class="form-control mb-3" id="phone" name="entry.1955175642" placeholder="phone">

        <label for="message" class="form-text">Предпочитаемый канал связи</label>
        <select class="form-control mb-3" name="entry.1338541241" id="message">
          <option selected>Выберите вариант</option>
          <option value="Telegram">Telegram</option>
          <option value="Whatsapp">Whatsapp</option>
          <option value="MAX">MAX</option>
        </select>

        <select class="form-control mb-3" name="entry.70876084" id="learn">
          <option value="">Где вы сейчас учитесь</option>
          <option value="7 класс">7 класс</option>
          <option value="8 класс">8 класс</option>
          <option value="Колледж">Колледж</option>
        </select>

        <select class="form-control mb-3" name="entry.1914344840" id="coutry">
          <option value="">Приоритетная страна</option>
          <option value="только Китай">только Китай</option>
          <option value="только Россия, но рассматриваю Китай">только Россия, но рассматриваю Китай</option>
          <option value="другие страны">другие страны</option>
        </select>

        <div class="form-check mb-3">
          <input id="defaultCheck1" class="form-check-input" type="checkbox" name="entry.1389169031" value="Готовы ли вы платить за обучение в более сильном вузе?">
          <label class="form-check-label" for="defaultCheck1">
            Готовы ли вы платить за обучение в более сильном вузе?
          </label>
        </div>
        <div class="form-check mb-3">
          <input id="defaultCheck2" class="form-check-input" type="checkbox" name="entry.1580115150" value="Нажимая эту кнопку вы принимаете Положение и согласие на обработку персональных данных">
          <label class="form-check-label" for="defaultCheck2">
            Нажимая эту кнопку вы принимаете Положение и согласие на обработку персональных данных
          </label>
        </div>
        <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
      </form> -->
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{/* if site.Params.contact.enable }}
  <script src="https://forms.yandex.ru/_static/embed.js"></script>

  {{ with site.Params.contact }}
  <div class="contact-form bg-gray text-center py-5">
    <h3 class="section-title mb-4">{{ i18n "contact_us" }}</h3>
    <iframe src="{{ .contact_form_action }}" frameborder="0" name="{{ .contact_form_name }}" width="650"></iframe>
  </div>

  <div id="formPopup" class="popup">
    <div class="popup-content">
      <button class="close">&times;</button>
      <iframe id="formIframe" data-src="{{ .contact_form_action }}" frameborder="0" name="{{ .contact_form_name }}" width="650"></iframe>
    </div>
  </div>
  {{ end }}
  {{ end */}}

  <!-- newsletter -->
  {{ if site.Params.subscription.enable }}
  {{ with site.Params.subscription }}
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white mb-4">{{ i18n "subscribe_newsletter" }}</h3>
          <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="{{ i18n "enter_email" }}">
              <button type="submit" name="subscribe" class="btn btn-primary">{{ i18n "join" }}</button>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-6 mb-5 mb-lg-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "contacts" }}</h4>
          <ul class="list-unstyled">
            {{/*<li class="mb-4">{{ site.Params.address | markdownify }}</li>
            <li class="mb-4">{{ site.Params.email | markdownify }}</li>*/}}
            <li class="mb-4">
              <a target="_blank" href="tel:{{ site.Params.mobile }}">{{ site.Params.mobile_text | markdownify }}</a>
            </li>
            {{ range site.Params.social }}
            <li class="mb-4">
              <a target="_blank" href="{{ .link | safeURL }}">
                {{ .name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <!-- company -->
        {{/*<div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "company" }}</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.main }}
            {{ if not .HasChildren }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>*/}}
        <!-- footer_menu -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "menu" }}</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.footer }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <!-- programs -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "programs" }}</h4>
          <ul class="list-unstyled">
            {{ range first 5 (where site.RegularPages "Type" "programs")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
        <!-- ifp -->
        <div class="col-lg-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "ifp" }}</h4>
          <ul class="list-unstyled">
            {{ range first 5 (where site.RegularPages "Type" "universitety")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
        <!-- footer_end -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "new_notice" }}</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.footer_end }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{/*<!-- support -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "new_notice" }}</h4>
          <ul class="list-unstyled">
            {{ range first 3 (where site.RegularPages "Type" "notice")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>*/}}
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-md-left text-center">
          <p class="mb-3 mb-md-0">
            <!-- logo -->
            <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}">
              {{ partial "image.html" (dict "Src" site.Params.logo "Alt" site.Title "Class" "img-fluid") }}
            </a>
            <span>Copyright &copy; 1812 - {{ now.Format "2006" }} {{ site.Params.copyright | markdownify }}</span>
          </p>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-end justify-content-sm-center text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item">
              <a class="d-inline-block icon" href="{{ .link | safeURL }}">
                {{ .icon | safeHTML }}
              </a>
            </li>

            {{/*<li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>*/}}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
